:root {
    --color-Header: #3A2754;
    --color-Text-Blue: #1EB5D9;
    --color-Pink: #F2597F;
    --color-Yellow: #F9C92B;
    --color-Main: #F9F3E8;
    --color-break-yellow: #FFF8E5;
    --color-break-blue: #E8f6ff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #333333;
}

h1 {
    font-family: "Baloo 2", sans-serif;
    color: var(--color-Header);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}

button {
    background-color: var(--color-Text-Blue);
    border-radius: 20px;
    border: 0;
    padding: 15px 30px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.6);
}

button:active {
    transform: scale(0.95);
}

button a {
    font-size: 1.5rem;
    font-weight: 800;
    color: #fff;
}

.learn-button{
    background-color: var(--color-Yellow);
}

.learn-button a {
    color: #333333;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

header, footer, main {
    width: 100%;
}

/* Header */
header {
    background-color: var(--color-Main);
    position: sticky;
    top: 0;
    z-index: 100;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    max-width: 150px;
}

nav .nav-links {
    display: flex;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--color-Header);
    white-space: nowrap;
}

.nav-link {
    padding: 200px 1.3rem 2rem;
}

.nav-link.active {
    background-color: var(--color-Text-Blue);
    border-radius: 10px;
    color: #fff;
}

.nav-link[class="nav-link"]:hover {
    border-bottom: 5px solid var(--color-Header);
}

/* Hero Section */
.hero-section .container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0 7rem;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
}

.hero-text-container h1 {
    font-size: 3rem;
    line-height: 50px;
}

.hero-text-container p {
    font-size: 2rem;
}

.hero-image-container {
    width: 100%;
}

.hero-image-container img {
    width: 100%;
}

/* Welcome Section */
.welcome-section {
    background-color: var(--color-break-blue);
}

.welcome-section .container {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    align-items: center;
    padding: 5rem 0;
}

.welcome-text-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.welcome-text-container h1 {
    font-size: 3rem;
}

.welcome-text-container p {
    font-size: 1.5rem;
}

.welcome-list li {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 1.2rem;
}

/* Discover Programs section */

.home-programs-section {
    background-color: var(--color-Main);
}

.home-programs-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem 0;
}

.home-programs-section .container h1 {
    font-size: 3rem;
}

.home-programs-container {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
}

.home-program a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
}

.home-program a:hover {
    transform: scale(1.1);
}

.home-program h3 {
    font-weight: 800;
}

.home-program p {
    max-width: 300px;
    font-weight: 600;
}

.home-program img {
    max-width: 300px;
}