:root {
    --color-Header: #3A2754;
    --color-Text-Blue: #1EB5D9;
    --color-Pink: #F2597F;
    --color-Yellow: #F9C92B;
    --color-Main: #F9F3E8;
    --color-break-yellow: #FFF8E5;
    --color-break-blue: #E8f6ff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #333333;
}

h1 {
    font-family: "Baloo 2", sans-serif;
    color: var(--color-Header);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}

button {
    background-color: var(--color-Text-Blue);
    border-radius: 20px;
    border: 0;
    padding: 15px 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

a button {
    font-size: 1.5rem;
    font-weight: 800;
    color: #fff;
}

.button-container {
    align-self: center;
}

.secondary {
    background-color: var(--color-Yellow);
    color: #333333;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

header,
footer,
main {
    width: 100%;
}

/* Header */
header {
    background-color: var(--color-Main);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    max-width: 150px;
}

nav .nav-links {
    display: flex;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--color-Header);
    white-space: nowrap;
}

.nav-link {
    padding: 200px 1.3rem 2rem;
}

.nav-link.active {
    background-color: var(--color-Text-Blue);
    border-radius: 10px;
    color: #fff;
}

.nav-link[class="nav-link"]:hover {
    border-bottom: 5px solid var(--color-Header);
}

.nav-link.noborder {
    border-bottom: 0;
}

.nav-links .resources-sub {
    position: absolute;
    background-color: #ffffff75;
    font-weight: 800;
    color: var(--color-Header);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 0.5rem 1.2rem 1rem;
    margin-top: 1.5rem;
    border-radius: 10px;
    display: none;
}

.nav-links .resources-sub.active {
    display: block;
}

.nav-links .resources-sub a {
    padding: 0;
    font-size: 1.1rem;
}

.nav-links .resources-sub a:hover {
    border-bottom: 5px solid var(--color-Header)
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 2em;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #f9f3e850;
    padding-top: 4em;
    font-size: 1.2em;
    font-weight: 800;
    color: var(--color-Header);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.sidebar.active {
    display: flex;
}

.sidebar li,
.sidebar a {
    width: 100%;
}

.sidelink.active {
    background-color: #1eb4d978;
    backdrop-filter: blur(10px);
    border-radius: 0 10px 10px 0;
    color: #fff;
}


.sidebar a {
    padding: 1rem 4rem 1rem 2rem;
}

.sidelink[class="sidelink"]:hover {
    border-left: 5px solid var(--color-Header);
}

.sublinks {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sublinks a {
    padding: 0.5rem 4rem 0.5rem 2rem;
}


.open-icon-ul {
    display: none;
}

/* HOME PAGE */

/* Hero Section */
.hero-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0 7rem;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hero-text-container h1 {
    font-size: 3rem;
    line-height: 50px;
}

.hero-text-container p {
    font-size: 2rem;
}

.hero-image-container {
    width: 100%;
    display: flex;
    justify-content: right;
}

.hero-image-container img {
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
}

/* Welcome Section */
.welcome-section {
    background-color: var(--color-break-blue);
}

.welcome-section .container {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    align-items: center;
    padding: 5rem 0;
}

.welcome-text-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 50rem;
}

.welcome-text-container h1 {
    font-size: 3rem;
}

.welcome-text-container p {
    font-size: 1.5rem;
}

.welcome-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.welcome-list ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}

.welcome-list li {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 1.2rem;
}

.welcome-image-container img {
    max-width: 100%;
    width: auto;
    border-radius: 20px;
}

/* Discover Programs section */

.home-programs-section {
    background-color: var(--color-Main);
}

.home-programs-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem 0;
}

.home-programs-section .container h1 {
    font-size: 3rem;
}

.home-programs-container {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    flex-wrap: wrap;
}

.home-program a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
}

.home-program a:hover {
    transform: scale(1.1);
}

.home-program h3 {
    font-weight: 800;
}

.home-program p {
    max-width: 300px;
    font-weight: 600;
}

.home-program img {
    width: 100%;
    max-width: 300px;
}

/* Quotes Section */

.quote-section {
    background-color: var(--color-break-blue);
}

.quote-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem 0;
}

.quote-section .container h1 {
    font-size: 3rem;
}

.rating {
    display: flex;
    flex-wrap: nowrap;
}

.rating img {
    filter: drop-shadow(0px 5px 2px rgb(0 0 0 / 0.4));
}

.quotes-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    width: 100%;
    max-width: 80%;
}

.quote-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.6rem;
    max-width: 500px;
    gap: 10px;
    background: #fff;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    color: var(--color-Header);
}

.quote-author {
    align-self: flex-end;
    color: var(--color-Header)
}

/* PROGRAMS PAGE */

.programs-section .container {
    padding: 6rem 0;
}

.programs-section nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.program-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    font-size: 1.6rem;
    font-weight: 800;
    background-color: var(--color-Text-Blue);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.program-links li {
    padding: 1rem 0;
}

.program-links li:first-child a {
    border-radius: 20px 0px 0px 20px;

}

.program-links li:last-child a {
    border-radius: 0px 20px 20px 0px;
}

.program-links a.active {
    background-color: var(--color-Yellow);
    color: var(--color-Header);
}

.program-links a {
    padding: 1rem;
    color: #fff;
}

.program {
    display: none;
}

.program.active {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    gap: 1.5rem;
}

.program-text-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    flex: 1;
    width: 100%;
    max-width: 900px;
}

.program-text-container h1 {
    font-size: 3rem;
}

.program-text-container p {
    font-size: 1.6rem;
    line-height: 3rem;
}

.program-image-container {
    align-self: center;
}

.program-image-container img {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
}

/* RESOURCES PAGE */

.resources-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    gap: 4rem;
}

.resources-section .container h1 {
    font-size: 3rem;
}

.resource-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.resource a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.icon-container {
    font-size: 4rem;
    color: #fff;
    background-color: var(--color-Text-Blue);
    padding: 2rem 3rem;
    border-radius: 1000px;
}

/* HEALTH & SAFETY PAGE */

section.health-section .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 0;
}

.health-section .container h1 {
    font-size: 3rem;
}

.health-section .container h2 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-Text-Blue)
}

.health-section .container p {
    font-size: 1.5rem;
}

/* NUTRITION PAGE */

section.nutrition-section .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 0;
}

.nutrition-section .container h1 {
    font-size: 3rem;
}

.nutrition-section .container h2 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-Text-Blue)
}

.nutrition-section .container p {
    font-size: 1.5rem;
}

.nutrition-section .container li {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 1.5rem
}

/* HOLIDAYS PAGE */

section.holidays-section .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 0;
}

.holidays-section .container h1 {
    font-size: 3rem;
}

.holidays-section .container h2 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-Text-Blue)
}

.holidays-section .container p {
    font-size: 1.5rem;
    color: #808080;
}

.holidays-section .container li {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 1.5rem
}

/* GALLERY PAGE */

section.gallery-section {
    background-color: var(--color-break-yellow);
}

section.gallery-section .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 0;
    align-items: center;
    justify-content: center;
}

.gallery-section .container h1 {
    font-size: 4rem;
}

.photos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.photos-container img {
    max-width: 100%;
    border-radius: 10px;
    ;
}

/* ABOUT PAGE */

section.about-section .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 0;
}

.about-section .container h1 {
    font-size: 3rem;
}

.about-section .container h2 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-Text-Blue)
}

.about-section .container p {
    font-size: 1.5rem;
}

.about-flex-text {
    width: 100%;
    max-width: 1000px;
}

.about-flex-container {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    flex: 1;
}

.about-flex-image {
    align-self: center;
}

.about-flex-image img {
    width: 100%;
    max-width: 600px;
}

/* CONTACT PAGE */

section.contact-section .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 0;
}

.contact-section .container h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.contact-section .container h2 {
    font-size: 2rem;
    font-weight: 800;
}

.contact-top-div {
    display: flex;
    flex-direction: column;
}

.contact-top-div h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.call-button {
    background-color: var(--color-Header);
    border-radius: 10px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.email-button {
    border-radius: 10px;
    font-size: 1rem;
}

.contact-bottom-div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.form-div {
    background-color: #f5dfb7;
    padding: 1.5rem;
    border-radius: 10px;
}

#contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.child-div,
.birthdate-div {
    display: none;
}

.child-div.active,
.birthdate-div.active {
    display: flex;
}

.input-div input {
    max-width: 90%;
    font-size: 1.2rem;
    color: #6f6f6f;
    padding: 0.2rem;
}

.input-div select {
    max-width: 50%;
    font-size: 1.2rem;
    color: #6f6f6f;
    padding: 0.2rem;
}

#hearabout {
    max-width: 90%;
}

#comment {
    max-width: 90%;
    height: 10rem;
    resize: none;
    padding: 0.2rem;
    font-size: 1rem;
}

.short-input {
    max-width: 20%;
}

.add-btn-div {
    grid-column-start: 1;
    grid-column-end: 3;
}

.add-btn {
    border-radius: 10px;
    box-shadow: none;
    background-color: rgb(9, 80, 42);
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
}

.submit-div {
    grid-column-start: 1;
    grid-column-end: 3;
}

.submit-btn {
    width: 100%;
    border-radius: 10px;
    margin-top: 0.3rem;
    box-shadow: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 800;
}

.address-div {
    background-color: #dff3ff;
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.address-div h3 {
    font-size: 1.4rem;
}

.address-div address {
    font-style: normal;
    font-size: 1.2rem;
}

.address-div p {
    font-size: 1.2rem;
}

.address-div iframe {
    height: 100%;
    width: 100%;
    max-width: 100%;
}


/* Footer */

footer {
    background-color: var(--color-Header);
    color: #fff;
}

footer a {
    color: #fff;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 3rem 0;
}

.footer-column {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.footer-column h4 {
    font-size: 2rem;
    color: var(--color-Yellow)
}

.footer-column-one p {
    font-size: 1.5rem;
}

.footer-column-one .trademark {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #afafaf;
    font-weight: 800;
}

.explore-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    max-height: 200px;
    font-size: 1.2rem;
}

.explore-links a:hover {
    color: var(--color-Yellow)
}

.contact-link {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1.1rem;
}

@media only screen and (max-width: 1600px) {
    .welcome-section .container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1400px) {
    html {
        font-size: 80%;
    }

    p {
        font-size: 130%;
    }
    
    .welcome-section .container {
        flex-direction: column;
    }

    .hero-section .container {
        flex-direction: column;
    }

    .hero-image-container {
        display: flex;
        justify-content: center;
    }

    .program.active {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1200px) {
    .about-flex-container {
        flex-direction: column;
        gap: 2rem;
    }

    .contact-bottom-div {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1070px) {
    html {
        font-size: 80%;
    }

    p {
        font-size: 130%;
    }

    .sidebar {
        font-size: 180%;
    }
    
    .sublinks {
        font-size: 80%;
    }

    nav .nav-links {
        display: none;
    }

    .open-icon-ul {
        display: inline-block
    }
}

@media only screen and (max-width: 800px) {
    .photos-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    #contact-form {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
    }
}

@media only screen and (max-width: 550px) {
    html {
        font-size: 70%;
    }

    p {
        font-size: 130%;
    }

    .sidebar {
        font-size: 180%;
    }
    
    .sublinks {
        font-size: 80%;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .rating img {
        width: 3rem;
        height: 3rem;
    }

    .photos-container {
        padding: 1rem;
    }

    .resources-button-container {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    .program-links {
        font-size: 1rem;
    }

    .program-links li {
        padding: 0.6rem 0;
    }

    .program-links a {
        padding: 0.6rem;
        color: #fff;
    }

    .photos-container {
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 320px) {
    .rating img {
        width: 2rem;
        height: 2rem;
    }
}